/app/config/parameters.yml
/build/
/phpunit.xml
/var/
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
/var/sessions/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/
/web/.htaccess
/web/js/
/web/css/
/web/assetic/
/nbproject/*
.idea/workspace.xml
/web/assets/bower_components
.php_cs.cache