
<div ng-controller="DashboardCtrl" id="my-dashboard">
    <!-- start: FEATURED BOX LINKS -->
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-white no-radius text-center dashboard-botton" ui-sref="app.accesscontrol.users">
                    <div class="panel-body">
                        <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa fa-gavel fa-stack-1x fa-inverse"></i> </span>
                        <h2 class="StepTitle">[[data.countUsers]]<br /><span translate="content.list.USERS">Users</span></h2>
                        <p class="cl-effect-1">
                            <a translate="content.common.SHOWLIST">
                                Show list
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-white no-radius text-center dashboard-botton"  ui-sref="app.accesscontrol.groups">
                    <div class="panel-body">
                        <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-tags fa-stack-1x fa-inverse"></i> </span>
                        <h2 class="StepTitle">[[data.countGroups]]<br /><span translate="content.list.GROUPS">Groups</span></h2>
                        <p class="cl-effect-1">
                            <a translate="content.common.SHOWLIST">
                                Show list
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-white no-radius text-center dashboard-botton"  ui-sref="app.measurementmanager.measurements">
                    <div class="panel-body">
                        <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> </span>
                        <h2 class="StepTitle">[[data.countMeasurements]]<br /><span translate="content.list.MEASUREMENTS">Measurements</span></h2>
                        <p class="cl-effect-1">
                            <a translate="content.common.SHOWLIST">
                                Show list
                            </a>
                        </p>
                    </div>
                </div>
            </div>
    </div>
    <!-- end: FEATURED BOX LINKS -->
</div>
